@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Phone {
    background-color: white;
    width: 312px; 
    height: 694px;
}

.logo {
    height: 150px; 
    width: 150px; 
    margin-top: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    transition-duration: 0.2s;

}

.logo:hover {
    transition-duration: 0.2s;
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.2);
}

.StatusBar {
    width: 100%; 
    display: flex;
    justify-content:start;
    object-fit: contain;
}

.infoBox {
    width: 90%; 
    height: 70px;
    background-color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 120px;
}

.bottomBar {
    width: 100%; 
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;

    display: block;
}

.LandingPage {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.MainPage {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url('./Google Map.png');
    transition-duration: 0.3s;
    position: relative;
}

.map {
    display: flex;
    justify-content:start;
    object-fit: contain;
}

.Circle {
    transition-duration: 0.3s;
    border-radius: 100px;
    position: absolute;
    box-shadow: 0px 0px 7px 6px rgba(0, 0, 0, 0.2);

}

.ShareLocation {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
}
