@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Phone {
    background-color: white;
    width: 312px; 
    height: 694px;
}

.StatusBar {
    width: 100%; 
    display: flex;
    justify-content:start;
    object-fit: contain;
}

.infoBox {
    width: 90%; 
    height: 70px;
    background-color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 120px;
}

.bottomBar {
    width: 100%; 
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;

    display: block;
}

.LandingPage {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.MainPage {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url('./Google Map.png');
    position: relative;
}

.map {
    display: flex;
    justify-content:start;
    object-fit: contain;
}

.Circle1 {
    border: 5px solid #449DD1;
    border-radius: 100px;
    position: absolute;
/*

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.Circle2 {
    border: 5px solid #064789;
    border-radius: 100px;
    position: absolute;
/*

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.ShareLocation {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
}
